asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
crispy-bootstrap4==2024.1
Django==5.2
django-crispy-forms==2.1
django-debug-toolbar==5.1.0
django-filter==25.1
django-tinymce==3.6.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
Faker==37.1.0
greenlet==3.1.1
idna==3.10
Markdown==3.7
mysql-connector-python==9.2.0
pillow==11.1.0
psycopg2==2.9.10
PyJWT==2.9.0
python-dotenv==1.1.0
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.40
sqlparse==0.5.3
transliterate==1.10.2
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.3.0
